<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLinkActive="tab-selected" routerLink="/home" tab="home">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Übersicht</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLinkActive="tab-selected" routerLink="/upsert" tab="upsert">
        <ion-icon name="add-circle"></ion-icon>
        <ion-label>Hinzufügen</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
